.basic_horizontal_layout{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.basic_vertical_layout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}